<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida por um de nossos instrudores. Veja a baixo, os detalhes da resposta. </p>
<p>
  <strong>Sua pergunta: </strong> {{ question }} <br />
  <strong>Resposta do instrutor: </strong> {{ answer }} <br />
  <br />
</p>
