<strong>Olá, {{ student }}</strong>
<p>Sua inscrição está confirmada! </p>
<p>Estamos felizes em ter você na Gympoint. Segue a baixo os detalhes da sua inscrição: </p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ endOfDate }} <br />
  <strong>Valor R$: </strong> {{ price }} <br />
  <br />
  <small>
    Esperamos você, até!
  </small>
</p>
